body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/IMAGE/BG.png");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
}

/* nav */
header {
  margin: 0;
  /* font-family: sans-serif; */
  font-family: "Black Ops One", cursive;
  padding: 10px 20px;
}

.H {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #d0d3da;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.menu ul li a:hover::after,
.menu ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #d0d3da;
}

.menu ul li a.active {
  color: #d0d3da;
}

.menu ul li img {
  width: 20px;
  height: 20px;
}

/* content */
.content {
  position: relative;
  z-index: 1;
}

.H {
  width: 100%;
  height: 50px;
}
